user = {{ mail_unprivileged_user.name }}
password = {{ mail_unprivileged_user.password }}
hosts = 127.0.0.1
dbname = {{ mysql_database }}
query = SELECT 1 FROM virtual_domains WHERE name='{{ '%' }}s'
