#!/usr/bin/env bash

rm $1

exec 3>&1 4>&2
trap 'exec 2>&4 1>&3' 0 1 2 3
exec 1>$1 2>&1
####
# Everything below will go to the file given as argument

updated=$(TZ="{{ timezone }}" date "+%d/%m/%Y %R")
echo "Last update: ${updated}"
echo

echo "Mailbox size: $(du -hs /var/mail/vhosts/{{ server_fqdn }} | tr -s '\t' ' ' | cut -d ' ' -f1)"
echo "$(uptime | cut -d ',' -f4,5,6 | sed -e 's/^[ \t]*//')"
echo "/ free: $(df -h / --output=pcent | tail -1)"